@width: 640px;
@containerHeight: 480px;
@height: ceil(@width/2.35); // Widescreen baby!

body { 
    background: rgb(64,64,64);
    font-family: 12px 'Press Start 2P';
    margin: 0;
    padding: 0;
    position: relative;
}

#container { 
    background: rgb(0,0,0);
    height: @containerHeight;
    width: @width;

    position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -240px;
  margin-left: -320px;
}

canvas { 
    height: @height;
    left: 0;
    position: absolute;
    top: 100px;
    width: @width;
}

#canvasFace {
    background: rgb(32,32,32);
}

#canvasStartup {
    background: rgb(32,32,32);
}

#powerBox {
    border: 2px solid rgb(255,255,255);
    height: 20px;
    left: 10px;
    position: absolute;
    top: 110px;
    width: 125px;

    &.hidden { 
        visibility: hidden;
    }
}

#powerBar {
    background-color: rgb(50,205,50);
    height: 100%;
    transition: width 1.3s;
    transition-timing-function: steps(25, end);
    width: 0%;

    &.full {
        width: 100%;
    }
}