@width: 640px;
@containerHeight: 480px;
@height: ceil(@width/2.35); // Widescreen baby!

body { 
    font-family: 12px 'Press Start 2P';
    margin: 0;
    padding: 0;
    position: relative;
}

#container { 
    background: rgb(153,153,153);
    bottom: 0;
    height: @containerHeight;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: @width;
}

canvas { 
    height: @height;
    left: 0;
    position: absolute;
    top: 100px;
    width: @width;
}

#canvasFace {
    background: rgb(0,0,0);
}